.MuiCard-root {
	margin: 10px;
	opacity: 0.5;
	transform: scale(0.9);
	transition: all 500ms ease;
}

.slick-center .MuiCard-root {
	opacity: 1;
	transform: scale(1);
	transition: all 500ms ease;
}

.data-table .MuiTableCell-body {
	padding: 5px 0;
}

.skeleton .MuiTableCell-alignRight span {
	margin-left: auto;
}
